@font-face {
    font-family: 'Typewriter2';
    src: url(fonts/JMH\ Typewriter-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0EEF1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 20vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 0px 2px 4px black;
}

header h1{
    margin: 0 15px;
}

header img{
    width: 100px;
    margin-left: 15px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border: 0 ;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
    background-color: #cfcdcf;
    transition: all 0.5s ease;
    cursor: pointer;
}

.book-input::backdrop{
    background-color: rgba(0, 0, 0, 0.473);
}

.book-input{
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px #000;
}

.book-input .close{
    display: flex;
    justify-content: right;
    border: none;
}

.book-input .close-button{
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.book-input .form > div label{
    display: block;
    width: 70px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    font-weight: bold;
}

.book-input .form > div input[type=text]{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #888;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.read{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.submit{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.submitButton{ 
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid black;
}

.submitButton:hover{
    background-color: rgb(101, 199, 166);
}

#required{
    margin-top: 15px;
    color: red;
}

.requiredHidden{
    display: none;
}

.requiredShow{
    font-weight: bolder;
    text-align: center;
}

#cards{
    background-color: #F0EEF1;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#cards > div{
    margin: 10px 10px;
    height: 370px;
    width: 310px;
    color: white;
    text-align: center;
    background-image: url(images/book.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
}

/* Delete book button */
#cards .delete{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 5px;
    background-color: white;
    position: absolute;
    top: 45px;
    left: 206px;
}

#cards .delete:hover{
    background-color: rgb(255, 119, 119);
    cursor: pointer;
}

.book{
    font-family: 'typewriter2', sans-serif;
    font-size: 34px;
    width: 200px;
    height: 100px;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 25px;
}

.author{
    font-family: 'typewriter2', sans-serif;
    color: white;
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 250px;
    left: 25px;
}

.toggle{
    position: absolute;
    top: 300px;
    left: 75px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.toggleRead{
    background-color: lightgreen;
    position: absolute;
    top: 300px;
    left: 75px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.toggleNotRead{
    background-color: lightcoral;
    position: absolute;
    top: 300px;
    left: 75px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    height: 40px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

footer a:link{
    color: white;
}

footer a:visited{
    color: white;
}